@tailwind base;
@tailwind components;
@tailwind utilities;


.drag {
  -webkit-app-region: drag;
}

.no-drag {
  -webkit-app-region: no-drag;
}

.no-move {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.thumbnail-size {
  width: 1920px;
  height: 1080px;
}

.thumbnail-section-container {
  width: 800px;
  transform: scale(0.42); /* 800px * 0.42 ≈ 1920px */
  transform-origin: top left;
}

.thumbnail-content {
  width: 1920px;
  height: 1080px;
}

@keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  
  .animate-fade-out {
    animation: fadeOut 0.5s forwards;
  }