@tailwind base;
@tailwind components;
@tailwind utilities;

.route-container {
  position: relative;
  overflow: hidden; /* Hide scrollbars */
}

.drag {
  -webkit-app-region: drag;
}

.no-drag {
  -webkit-app-region: no-drag;
}

.no-move {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

@keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  .animate-fade-out {
    animation: fadeOut 0.5s forwards;
  }
