/* transitions.css */
.route-container {
  position: relative;
  overflow: hidden; /* Hide scrollbars */
}

.slide-right-to-left-enter {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translateX(100%);
}

.slide-right-to-left-enter-active {
  transform: translateX(0%);
  transition: transform 500ms ease-in-out;
}

.slide-right-to-left-exit {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translateX(0%);
}

.slide-right-to-left-exit-active {
  transform: translateX(-100%);
  transition: transform 500ms ease-in-out;
}

/* Left to Right Animation */
.slide-left-to-right-enter {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
}

.slide-left-to-right-enter-active {
  transform: translateX(0%);
  transition: transform 500ms ease-in-out;
}

.slide-left-to-right-exit {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translateX(0%);
}

.slide-left-to-right-exit-active {
  transform: translateX(100%);
  transition: transform 500ms ease-in-out;
}
